body {
  padding: 2rem;
}

.cart {
  flex: 1;
}

.cart h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.container {
  display: flex;
  gap: 2rem;
}

.plants {
  flex: 3;
}

.ordered-plants {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 1rem;
}

.plant {
  border: 1px solid #d9d9d9;
  padding: 1rem;
}

.plant h2 {
  font-size: 1.3rem;
}
